.box {
    background-color: pink;
    text-align: center;
    width: 10cm;
    height: 8cm;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
}
body {
    background-color: rgb(207, 95, 151);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: aliceblue;
}
img{
    height:2cm;
    width:3cm;
}

   h1{
         font-size: 75px;
         font-family:Algerian;
     }


    /* header {
        grid-row: 1;
        grid-column: 1 / -1; /* Spanning across all columns */
       /* background-color: pink;
        color: #fff;
        padding: 20px;
    }*/
    
    nav {
        grid-row: 2;
        grid-column: 1;
        background-color: #cf3f89;
        color: #fff;
        padding: 20px;
    }
    
    
    